{% extends 'app/account.html' %}

{% load staticfiles %}

{% block menu_block %}
<li><a href="/account/">My account</a></li>
<li><a href="/change_plan/">Change Plan</a></li>
<li><a href="/keep_shipments/">Keep shipments</a></li>
<li><a href="/add_addressee/">Add/Edit addressee</a></li>
<li class="chosen_item"><a href="/add_address/">Add address</a></li>
<li><a href="/edit_details/">Edit details</a></li>
{% endblock %}

{% block body_block %}
        <div class="row">
            <div class="col-md-3">
            	<div class="portlet portlet-default">
	                <div class="portlet-header">
	                  <h4 class="portlet-title">
	                    Add addresses
	                  </h4>
	                </div> <!-- /.portlet-header --> 
	                <div class="portlet-body">
	                	{% for address in addresses %}
	                	 {{ forloop.counter }}. {{ address.shopkeeper.postal_code}} <br>
	                	{% endfor %}
	                	<br>
                		{% if show_form %}
			                <form class="form-horizontal" action="/add_address/" method="post">
			                {% csrf_token %}
							  <div class="form-group">
							    <select class="form-control" name="address">
							      {% for shopkeeper in shopkeepers %}
							      	<option value="{{ shopkeeper.id }}">{{ shopkeeper.shop_name }} {{ shopkeeper.shop_street }} {{ shopkeeper.postal_code }}</option>
							      {% endfor %}
								</select>
							  </div>
							  <div class="form-group">
							    <div class="col-sm-offset-2 col-sm-10">
							      <button type="submit" class="btn btn-outline-inversed btn-lg" >Add address</button>
							    </div>
							  </div>
							</form>
						{% endif %}
						                </div> <!-- /.portlet-body -->
            </div> <!-- /.portlet -->
        </div> <!-- /.col -->
                    <div class="col-md-9">
            	<div class="portlet portlet-default">
	                <div class="portlet-header">
	                  <h4 class="portlet-title">
	                    Map
	                  </h4>
	                </div> <!-- /.portlet-header --> 
	                <div class="portlet-body">
		                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190028.2570988032!2d12.395915345059903!3d41.91024148618828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f6196f9928ebb%3A0xb90f770693656e38!2sRome%2C+Italy!5e0!3m2!1sen!2skz!4v1460524557869" width="850" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div> <!-- /.portlet-body -->
            </div> <!-- /.portlet -->
        </div> <!-- /.col -->
    </div> <!-- /.container -->
{% endblock %}