<!DOCTYPE html>
<html lang="en">

    <head>


        <title>Login to SecondoIndirizzo</title>
        {% load staticfiles %}



    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                {% block body_block %}

                {% endblock %}
            </div>
            
        </div>



        <script src="{% static 'app/js/package.js' %}"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>