{% extends 'app/account.html' %}
{% load staticfiles %}
{% block menu_block %}
<!-- .dropdown -->
<li><a href="/account/">My account</a></li>
<li><a href="/change_plan/">Change Plan</a></li>
<li><a href="/keep_shipments/">Keep shipments</a></li>
<li><a href="/add_addressee/">Add/Edit addressee</a></li>
<li><a href="/add_address/">Add address</a></li>
<li class="chosen_item"><a href="/edit_details/">Edit details</a></li>
<!-- /.dropdown -->
{% endblock %}
{% block body_block %}
<div class="col-md-8">
    <div class="portlet portlet-default">
      <div class="portlet-header">
        <h4 class="portlet-title">
          Your details
        </h4>
      </div> <!-- /.portlet-header --> 
      <div class="portlet-body">
        <form  action="/edit_details/" method="post" id="myForm">
          {% csrf_token %}
          <div class="form-group"  id="goldname">
            <label>Your first name:</label><input type="text" name="firstname"  class="form-username form-control" value="{{ user.first_name }}">
          </div>
          <div class="form-group"  id="platinumname">
            <label>Your last name:</label><input type="text" name="lastname"  class="form-username form-control" id="form-username" value="{{ user.last_name }}">
          </div>
          <div class="form-group"  id="platinumname">
            <label>Your email:</label><input type="text" name="email"  class="form-username form-control" id="form-username" value="{{ user.email }}">
          </div>
          <div class="form-group"  id="platinumname">
            <label>Your phone:</label><input type="text" name="phone"  class="form-username form-control" id="form-username" value="{{ user_profile.phone }}">
          </div>
          <button type="submit" class="btn btn-outline-inversed btn-lg" id="about-btn">Save</button>
        </form>
      </div> <!-- /.portlet-body -->
  </div> <!-- /.col -->
</div>
<div class="col-md-4">
    <div class="portlet portlet-default">
      <div class="portlet-header">
        <h4 class="portlet-title">
          Change password
        </h4>
      </div> <!-- /.portlet-header --> 
      <div class="portlet-body">
        <form  action="/change_password/" method="post" id="myForm">
          {% csrf_token %}
          {{ message }}
          <div class="form-group"  id="goldname">
            <label>New password:</label><input type="text" name="password"  class="form-username form-control">
          </div>
          <div class="form-group"  id="goldname">
            <label>Confirm password:</label><input type="text" name="confirm"  class="form-username form-control">
          </div>
          <button type="submit" class="btn btn-outline-inversed btn-lg" id="about-btn">Update password</button>
        </form>
      </div> <!-- /.portlet-body -->
  </div> <!-- /.col -->

</div>
<br><br><br><br><br><br>
<!-- Javascript -->
<script src="{% static 'login/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'login/js/bootstrap.min.js' %}"></script>
<script src="{% static 'login/js/jquery.backstretch.js' %}"></script>
<script src="{% static 'login/js/scripts.js' %}"></script>
<script src="{% static 'app/js/package.js' %}"></script>
{% endblock %}
