{% extends 'app/login.html' %}

{% load staticfiles %}


{% block body_block %}
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Registration</h3>
                            		<p>Please fill in all the fields:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="" method="post" class="login-form">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-6">
        			                    	<div class="form-group">
        			                        	{{ user_form.username }}
        			                        </div>
                                            <div class="form-group">
                                                {{ user_form.email }}
                                            </div>
        			                        <div class="form-group">
        			                        	{{ user_form.password }}
        			                        </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {{ user_form.first_name }}
                                            </div>
                                            <div class="form-group">
                                                {{ user_form.last_name }}
                                            </div>
                                            <div class="form-group">
                                                {{ user_profile_form.phone }}
                                            </div>
                                        </div>
                                    </div>
        			                <button type="submit" class="btn">Sign up!</button>
        			            </form>
                            </div>
                        </div>
                    </div>
{% endblock %}